<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <packageSourceMapping>
        <packageSource key="LocalStellarKernel">
            <package pattern="Stellar.*" />
        </packageSource>
        <packageSource key="LocalStellarSDK">
            <package pattern="Stellar.*" />
        </packageSource>
        <packageSource key="LocalStellarEngineModules">
            <package pattern="Stellarl.*" />
        </packageSource>
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
    </packageSourceMapping>
</configuration>